__pycache__/
*.__pycache__
*.pyc
/dist/
*.egg-info
/*.egg
/*egg-info
.vs*
notebooks/noise*
*.npy
postprocessing.ipynb
/decoderComparisonData/*.*
decoderComparisonData*
*experiment.txt*
/rlData
*docs*
/docs
.claude
/rl-qecc-data